/*GLOBAL STYLES*/
*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  /*Header logo_blanc.png */
 nav{
   display: flex;
   padding: 1% 2%;
   background-color: rgb(92, 88, 88);
   justify-content: space-between;
   align-items: center;
 }
  nav img{
    width: 150px
  }
 
  /* Header left top three links(Menu) fixing there position, inline, inbetween spaces, fontsize and so on*/
  .nav-links{
    flex: 1;
    text-align: right;

  }
  .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position:relative;
  }
  .nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
  }
/*Hover Effect on the menu*/
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}

  /*Header logo_dark.png*/
  .logo-image {
    display: flex;
    justify-content: center;
    } 
.logo-image img{
     width: 200px;
      }
.logo-image {
    padding: 50px 50px 50px 50px;
   } 
   /* Main front image mr_coffee_salle.jpg*/
  .main-image{
      display: block;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      }
  .main-image {
      display: flex;
      justify-content: center;
      } 
  .main-image img{
      width: 90%;
      height: auto;
    }

  .main-image{
    position: relative;
  }  
    /*text on the main image, fixing its position*/  
   .text-block{
   width: 90%;
   color: #fff;
   position: absolute;
   top: 10%;
   left: 5%
  } 
.text-block h1{
  font-size: 52px;
}   

 /*Text in the middle */
 .text h2{
  display: flex;
  justify-content: center;
  } 
  .text h3{
    display: flex;
    justify-content: center;
    } 
 .text{
   width: 80%;
   color: rgb(20, 15, 5);
  margin: auto;
  text-align:center;
  position:relative;
  padding: 50px 50px 50px 50px;
 }
 
  
/* media queries so that It will look good on mobile and tablet devices. 
 */
 @media(max-width:400px){
 .text-block h1{
    font-size: 13px;
  }
  .text h2{
    font-size: 13px;
  }
  .text h3{
    font-size: 13px;
  }
  .coll_new{
    font-size: 13px;
  }
  .text3{
    font-size: 13px;
  }
  .text4{
    font-size: 13px;
  }
  .text1_on_contact p{
    font-size:13px ;
  }
  .text2_on_contact p{
    font-size:13px ;
  }
  .text3_on_contact p{
      font-size:13px ;
  }
 } 

  /*three rectangle/card*/
 .row{
   margin-top:10%;
   display: flex;
   justify-content: space-between;
  
 }
 .coll{
   flex-basis: 31%;
   background:rgb(173, 169, 169);
   border-radius: 10px;
   margin-bottom: 5%;
   padding:40px 10px;
   box-sizing: border-box;
  
 }

  /*Button */
  .wrapper {
    text-align: center;
  }
  .button {
    display: block;
    background-color: darkgray;
    position: relative;
    font-size: 13px;
    padding: 12px 34px;
    top: 28%;
    margin: auto;
  }
  .txt_btn_bottpm h2{
    display: flex;
    justify-content: center;
    }

 /*Hover on the button */
    .button {
      transition-duration: 0.4s;
    }
    
    .button:hover {
      background-color: #e92949; 
      color: white;
    }
 /*Text bottom of the button */
.txt_btn_bottpm h2{
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  
  }  
   /*icon open logo */
  .icon_open{
    display: flex;
    justify-content: left;
    } 
.icon_open img{
     width: 100px;
      }
.icon_open {
    padding: 20px 20px 0px 400px;
   } 
    /*Text in row column */
   .row_new{
    margin-top:5%;
    display: flex;
    justify-content:center;
   }
   .coll_new{
     font-size: 20px;
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding:40px 10px;
    text-align: center;
   }
    /*second last text */
   .text3{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 25px;
    
    }  
     /*last text */
    .text4{
      display: flex;
      justify-content: center;
      padding-top: 50px;
      padding-bottom: 50px;
      font-size: 30px;
      text-align: center;
      
      }  
       /*Setting Footer */

      .footer{
        display: flex;
        padding: 1% 2%;
        background-color: rgb(92, 88, 88);
        justify-content:space-between;
        align-items: center;
        margin-top: auto;
        overflow: hidden;
       
      }
       /*Left most image on Footer */
       .footer img{
         width: 150px
      
       }
       .footer_text{
         color: azure;
         font: 10px;
         text-align: center;
       }
        /*Social icons on Footer */
       .social_icon img{
          width: 30px;
          text-align: center;
        }
        /*CODES FOR CONTACT PAGE */

       /* Setting Text1   */

        .text1_on_contact p{
          display: flex;
          justify-content: center;
          } 
      
         .text1_on_contact p{
           width: 80%;
           color: rgb(20, 15, 5);
           font-size: 50px;
          margin: auto;
          text-align:center;
          position:relative;
          padding: 50px 50px 50px 50px;
         }

          /* Setting Text2   */

         .text2_on_contact p{
         display: flex;
         justify-content: center;
         } 
         .text2_on_contact p{
          width: 80%;
          color: rgb(20, 15, 5);
          font-size: 30px;
         margin: auto;
         text-align:center;
         position:relative;
         padding: 50px 600px 50px 5px;
        }

        /* Setting Text3   */

        .text3_on_contact p{
          display: flex;
          justify-content: center;
          } 
          .text3_on_contact p{
           width: 80%;
           color: rgb(20, 15, 5);
           font-size: 30px;
          margin: auto;
          text-align:center;
          position:relative;
          padding: 50px 600px 50px 5px;
         }
      /* Setting up the Map  */
         .map{
          display: block;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          }
      .map {
          display: flex;
          justify-content: center;
          } 
      .map{
          width: 90%;
          padding-bottom: 100px;
        }
    
      .map{
        position: relative;
      }  
      




      /*CODES FOR THE ABOUT PAGE*/

      /* making a row and two column one is text another is image which is in the right fixing their size */
      .about_us{
        width:80%;
        margin: auto;
        padding-top: 10px;
        padding-bottom:5px;
      }
      .about_coll{
        flex-basis: 48%;
        padding: 30px 2px;
      }
      .about_coll img{
        width: 70%;
        height: 80%;

      }
      /* making a row and two column one is text another is image which is in the left fixing their size */
      .about_us1{
        width:80%;
        margin: auto;
        padding-top: 5px;
        padding-bottom: 40px;
      }
      .about_col{
        flex-basis: 48%;
        padding: 30px 2px;
      }
      .about_col img{
        width: 100%;
      
      }
        /* fixing the texts of the first row where image is in the right  */

        .about_coll h2{
          font-size: 40px;
          padding:0px 20px 20px 10px ;
        }
        .about_coll p{
          font-size: 26px;
          padding:20px 20px 20px 10px ;
        }
           /* fixing the texts of the first row where image is in the left  */

           .about_col h2{
            font-size: 40px;
            padding:0px 20px 20px 10px ;
           }
           .about_col p{
            font-size: 24px;
            padding:20px 20px 20px 10px ;
          }